<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/pic.webp">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Me.jpeg">
        <p> Computer engineer, working on sharpenning my back-end node js skills. <br>
            I am currently taking free-lance projects For more info: <br>
            Phone: +961 70530109 <br>
            Mail: Eliearo123@gmail.com
        </p>
    </div>
    
    {{>footer}}
</body>

</html>